{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Category</h1>

    {{ include('back/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='btn btn-primary m-2' href="{{ path('app_back_category_browse') }}">back to categories list</a>

    {{ include('back/category/_delete_form.html.twig') }}
</div>
{% endblock %}
